@page
@model MoviesWebApp.Pages.Rentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalsModel[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalsModel[0].Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalsModel[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalsModel[0].IsDeliveryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentalsModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeliveryAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RentalsId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RentalsId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RentalsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
